#acuerdoimg{
  margin-top: 4%;
}
#main-big-textacuerdo{
  color: #fff;
  font-size: 21px;
  margin-top: 2%;
}
#squareGreen{
  position: absolute;
  text-align: center;
  color: white;
  font-size: 17px;
  margin-top: 21%;
}
#sq{
  position: absolute;
}
#sqContent{
  margin-top: 2%;
  font-family: "verda";
}
#main-big-text2{

  color: #fff;
  font-size: 24px;
  margin-top: 2%;
}
#red{

  color: #FF6666;
  font-size: 24px;
  margin-top: 2%;


}

.m1{
  background-color: black;
}
#textModal{
  font-size: 24px;
  color: white;
}
.color_secu{
  color: #00CCCC;
}
.color_bachi{
  color: #FFCC66;
}
#down{
  margin-top: 28%;
}
#books{
  margin-top: 44%;
}
#purple{
  color:#A64D79;
}
.red{
  color: #c5363f;
  text-align: center;
}
#downvalida{
      margin-top: 4%;
}
@media (max-width: 1250px) {
  #squareGreen{
    margin-top: 7%;
  }
}
@media (max-width: 435px){
  #pink {
    height: 287px;
  }
}
